.markdown {
	@apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
	@apply my-3;
}

.markdown h1 {
	@apply text-4xl font-bold mt-3 mb-4;
}

.markdown h2 {
	@apply text-3xl mt-2 mb-2;
}

.markdown h3 {
	@apply text-2xl mt-1 mb-1;
}

.markdown ul {
	@apply list-disc ml-4;
}

.markdown a {
	@apply hover:underline text-sky-700 hover:text-sky-500;
}
