.nowPlaying {
  width: 80%;
  min-width: 350px;
  margin: .5rem;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(199, 232, 254);
  color: darkslategrey;
  display: flex;
}

.nothingPlaying {
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 100%;
}

.nowPlayingIndicator {
  font-weight: bold;
  margin-right: 3px;
  width: 35%;
  display: flex;
  justify-content: center;
}

.nowPlayingInformation {
  width: 65%;
  display: flex;
  justify-content: center;
}