.track {
  color: green;
  border-radius: 5px;
  margin: .5rem;
  padding: .25rem;
  background-color: rgba(219, 223, 219, 0.118);
  display: flex;
  justify-content: space-between;
}

.artist {
  font-style: italic;
  color: rgb(45, 167, 96);
}

.title {
  font-weight: bold;
  margin-bottom: 3px;
}

.album {
  font-weight: bold;
}